In [1]:
import pandas as pd
import numpy as np 
from pyspark import *

In [32]:
data  = [[1,2,3,4,5],
        [2,3,4,5,6],
        [3,4,5,6,7]]

In [33]:
data1 = pd.DataFrame(data)

In [4]:
data1.columns = ['star','right','see','color','shiny']

In [10]:
data1.to_csv('./data1.csv')

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark.sql.session import SparkSession

In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
print(type(spark))

<class 'pyspark.sql.session.SparkSession'>

In [14]:
data1 = spark.read.csv('./data1.csv')

In [34]:
spark_df = spark.createDataFrame(data1,['star','right','see','color','shiny'])

In [13]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [36]:
spark_df.show(5)

+----+-----+---+-----+-----+
|star|right|see|color|shiny|
+----+-----+---+-----+-----+
|   1|    2|  3|    4|    5|
|   2|    3|  4|    5|    6|
|   3|    4|  5|    6|    7|
+----+-----+---+-----+-----+

In [37]:
pd_data1 = spark_df.toPandas()
pd_data1.head()

   star  right  see  color  shiny
0     1      2    3      4      5
1     2      3    4      5      6
2     3      4    5      6      7

In [38]:
labels = list(pd_data1.columns)
labels

['star', 'right', 'see', 'color', 'shiny']

In [39]:
spark_df = spark.createDataFrame(pd_data1, labels)

In [40]:
spark_df.show(5)

+----+-----+---+-----+-----+
|star|right|see|color|shiny|
+----+-----+---+-----+-----+
|   1|    2|  3|    4|    5|
|   2|    3|  4|    5|    6|
|   3|    4|  5|    6|    7|
+----+-----+---+-----+-----+